@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  background-color: #fbf4fb;
  color: #373a4e;
  font-family: "Nunito";
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}
